@model List<Course>

@section Header {
    @await  Html.PartialAsync("_Header")
}

<div class="row">
    @foreach(var kurs in Model)
    {
        @if(kurs.isActive && kurs.isHome) {
            <div class="col-3">
                <div class="card">
                    <img src="~/img/@kurs.Image" class="card-img-top" alt="">
                    <div class="card-body">
                        <h5 class="card-title">@kurs.Title</h5>
                        <p class="card-text">@kurs.Description</p>
                        <a class="btn btn-primary" asp-controller="Course" asp-action="Details" asp-route-id="@kurs.Id">Detay</a>
                    </div>
                </div>
            </div>
        }
    }
</div>