<h2>Şifremi Unuttum</h2>
<hr>
<form asp-action="ForgotPassword" method="post">
    
    <div class="mb-3">
        <label for="Email">Email</label>
        <input name="Email" type="email" class="form-control">
    </div>
   
    <button type="submit" class="btn btn-primary">Gönder</button>
</form>