@model LoginViewModel

<h2>Login</h2>
<hr>
<form asp-action="Login" method="post">
    <div asp-validation-summary="All" class="text-danger"></div>
    
    <div class="mb-3">
        <label asp-for="Email"></label>
        <input asp-for="Email" class="form-control">
    </div>

     <div class="mb-3">
        <label asp-for="Password"></label>
        <input asp-for="Password" class="form-control">
    </div>

     <div class="form-check mb-3">
        <input asp-for="RememberMe" class="form-check-input">
        <label asp-for="RememberMe" class="form-check-label"></label>
    </div>
   
    <button type="submit" class="btn btn-primary">Kaydet</button>
</form>