@{
    ViewBag.Title = "Toplantı Özeti";
}
<h1 class="h4">Toplantı Özeti</h1>
<p>Toplantıya sizinle birlikte 20 kişi katılıyor.</p>
<a class="btn btn-sm btn-outline-primary" href="#">Katılımcıları Listele</a>