@model UserInfo
@{
    ViewBag.Title = "Başvuru Durumu";
}
<main class="text-center">
    <h1 class="h4">Başvuru Durumu</h1>

    @if(Model.WillAttend == true)
    {
        <p>Teşekkürler,@Model.Name toplantıya sizinle birlikte @ViewBag.UserCount kişi katılıyor.</p>
        <a class="btn btn-sm btn-outline-primary" href="#">Katılımcıları Listele</a>
    } else 
    {
        <p>@Model.Name, katılmadığından dolayı üzgünüz.</p>
        <a class="btn btn-sm btn-outline-primary" href="/meeting/apply">Başvuru Formu</a>
    }

</main>