@model Course

<div class="card mb-3" id="@Model.Id">
    <div class="row">
        <div class="col-md-3">
            <img src="~/img/@Model.Image" class="img-fluid rounded-start" alt="">
        </div>
        <div class="col-md-9">
            <div class="card-body">
                <a asp-controller="Course" asp-action="Details" asp-route-id="@Model.Id">
                    <h5 class="card-title">@Model.Title</h5>
                </a>
                <p class="card-text">@Model.Description</p>
            </div>
        </div>
    </div>
</div>