@model Course

<div class="row">
    <div class="col-md-4">
        <img src="~/img/@Model.Image" class="img-fluid rounded" alt="">
    </div>
    <div class="col-md-8">
        <a asp-controller="Course" asp-action="Details" asp-route-id="@Model.Id">
            <h1 class="card-title">@Model.Title</h1>
        </a>
        <p class="card-text">@Model.Description</p>
        <div>
            @if(Model.Tags != null) {
                @foreach(var tag in Model.Tags)
                {
                    <span class="badge bg-primary">@tag</span>
                }
            }
        </div>
    </div>
</div>