<div class="p-5 mb-4 bg-light rounded-3">
    <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold">Home Page</h1>
        <p class="col-md-8 fs-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit, provident. Beatae, saepe nemo. Illo ad iste nemo quam? Qui, eveniet.</p>
        <button class="btn btn-primary btn-lg">Button</button>
    </div>
</div>