@model Product
@{
    ViewData["Title"] = "Create";
}

<form asp-controller="Home" asp-action="Create" method="post">
    <div class="mb-3">
        <label asp-for="Name" class="form-label"></label>
        <input asp-for="Name" class="form-control">
    </div>
    <div class="mb-3">
        <label asp-for="Price" class="form-label"></label>
        <input asp-for="Price" class="form-control">
    </div>
    <div class="mb-3">
        <label asp-for="Image" class="form-label"></label>
        <input asp-for="Image" class="form-control">
    </div>
    <div class="mb-3">
        <label asp-for="CategoryId" class="form-label"></label>
        <select asp-for="CategoryId" asp-items="ViewBag.Categories" class="form-select" >
            <option value="0">Hepsi</option>
        </select>
    </div>
    <div class="mb-3 form-check">
        <input asp-for="IsActive" class="form-check-input">
        <label asp-for="IsActive" class="form-check-label"></label>
    </div>
    <button type="submit" class="btn btn-primary">Kaydet</button>
</form>