@model Ogrenci

<p>
    <b> @Model.OgrenciAd @Model.OgrenciSoyad</b> isimli öğrenciyi silmek istiyor musunuz?

    <form asp-action="Delete" method="post">
        <input type="hidden" value="@Model.OgrenciId" name="id">
        <button type="submit" class="btn btn-danger">Evet</button>
        <a asp-action="Index" class="btn btn-primary">Hayır</a>
    </form>
</p>