@{
    Layout = "_Layout2";
}
<h1 class="h4">Merhaba</h1>
<p>Toplantı katılım durumunuzu bildiriniz.</p>
<a class="btn btn-sm btn-outline-primary" asp-controller="Meeting" asp-action="Apply">Başvuru Yap</a>