@model List<Post>

<div class="card mb-2">
    <div class="card-header">
        <h5 class="card-title mb-0">New Posts</h5>
    </div>
    <div class="card-body">
        @foreach(var post in Model)
        {
            <div class="mb-3">
                <h6 class="mb-0">
                    <a href="/posts/@post.Url">
                        @post.Title
                    </a>
                </h6>
            </div>
        }
    </div>
</div>